.contact-form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.name-container {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.name-container input {
    flex: 1;
}

form input,
form textarea {
    font-size: 0.95rem;
    color: #fff;
    background: #130f2a;
    border: 1.5px solid #6751b9;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 100%;
    resize: none;
    transition: border 0.3s ease;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #a993fe;
}

form button {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    border: none;
    border-radius: 0.6rem;
    padding: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: transparent;
    color: #a892fe;
    border: 1.5px solid #a892fe;
}
